<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{[%level{length=5}]} %style{%d{ABSOLUTE}}{blue} %style{%method}{cyan}(%file:%line): %style{%msg%n}{green}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="org" level="error"/>
        <Logger name="io" level="error"/>
        <Logger name="springfox" level="error"/>
    </Loggers>
</Configuration>